<html>
<body>
<% @activities = Activity.all %>
<table widih="25%">
  <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.id %></td>
        <td><%= activity.from_account_id %></td>
        <td><%= activity.from.email %></td>
        <td><%= activity.to_account_id %></td>
        <td><%= activity.to.email %></td>
        <td><%= activity.transaction_type %></td>
        <td><%= activity.amount %></td>
      </tr>

  <% end %>
</table>
</body>
</html>



