<html>
<body>
<% @users = User.all %>
<table widih="25%">
  <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.password%></td>
        <td><%= user.name %></td>
        <td><%= user.phone %></td>
        <td><%= user.admin %></td>
        <td><%= user.account.balance %></td>
      </tr>
      </tr>

  <% end %>
</table>
</body>
</html>