<% @user = User.find(session[:user][:id]) %>
<% @recent_activities = Activity.where('to_account_id = ? or from_account_id = ?', @user, @user) %>
<div class="left-20">
  <p><a href="/account">View Account >></a></p>
  <div id="recent_activity">
    <h3>Recent Activity</h3>
    <% @recent_activities.each do |recent_activity| %>
        <div class="activity">
          <% if recent_activity.transaction_type.eql?('C') %>
              <p>From: <%= recent_activity.from.name %></p>
              <p><%= recent_activity.from.email %></p>
          <% else %>
              <p>To: <%= recent_activity.to.name %></p>
              <p><%= recent_activity.to.email %></p>
          <% end %>
          <p>Amount: <%= to_dollars(recent_activity.amount) %></p>
          <p>Date: <%= recent_activity.created_at %></p>
        </div>
    <% end %>
  </div>
  <p><a href="/account">View Account >></a></p>
</div>